/* Common */
.header {color: #fffe99;}
.header a {color: inherit;}
.header a:link {color: inherit;}
.header a:hover {color: inherit;}
.header a:visited {color: inherit;}
.header a:active {color: inherit;}

/* Header */


/* Main */


/* Footer */


/* Responsive */
@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {

}